[submodule "thirdparty/picojson"]
	path = thirdparty/picojson
	url = https://github.com/tristanpenman/picojson.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/nlohmann-json"]
	path = thirdparty/nlohmann-json
	url = https://github.com/nlohmann/json.git
	shallow = true
